<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Página principal</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="container">
        <h1>INFORMAÇÕES SOBRE O DESENVOLVEDOR</h1>
        <p>Nome: Gustavo</p>
        <p>Formação: Análise e Desenvolvimento de Sistemas</p>
        <p>Faculdade: Descomplica Faculdade Digital</p>
        <h2>Informações de contato</h2>
        <p>E-mail: g.cesarfranco7@gmail.com</p>
        <p>Telefone: +55 (61) 992566426</p>
        <h2>Redes sociais e Git</h2>
        <a href="https://www.linkedin.com/in/gustavocesarfranco/">Linkedin</a>
        <a href="https://github.com/gustavocesarfranco">GitHub</a>
        <a href="https://www.facebook.com/gustavo.cesarfranco">Gitlab</a>
    </div>
</body>
</html>
